<div class="container">

  <mat-card>
    <mat-card-title>Vehicles</mat-card-title>
    <mat-card-content>
      <mat-list role="list" *ngFor="let vehicle of Vehicles">

        <mat-list-item role="listitem" >
          <span style="font-weight: bold">Model :</span>  {{vehicle.model}}
        </mat-list-item>
        <mat-list-item role="listitem" >
          <span style="font-weight: bold">Year :</span> {{vehicle.year}}
        </mat-list-item>
        <hr>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Drivers</mat-card-title>
    <mat-card-content>
      <mat-list role="list" *ngFor="let driver of Drivers">

        <mat-list-item role="listitem" >
          <span style="font-weight: bold">Name :</span>  {{driver.name}}
        </mat-list-item>
        <mat-list-item role="listitem" >
          <span style="font-weight: bold">Class :</span> {{driver.licenseType}}
        </mat-list-item>
        <mat-list-item role="listitem" >
          <span style="font-weight: bold">EXPIRATION Year :</span> {{driver.licenseExpDate}}
        </mat-list-item>
        <hr>

      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Passengers</mat-card-title>
    <mat-card-content>
      <mat-list role="list" *ngFor="let passenger of Passengers">

        <mat-list-item role="listitem" >
          <span style="font-weight: bold">First Name :</span>  {{passenger.firstName}}
        </mat-list-item>
        <mat-list-item role="listitem" >
          <span style="font-weight: bold">Last Name :</span> {{passenger.lastName}}
        </mat-list-item>
        <mat-list-item role="listitem" >
          <span style="font-weight: bold">Age :</span> {{passenger.age}}
        </mat-list-item>
        <hr>

      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Travels</mat-card-title>
    <mat-card-content>
      <mat-list role="list" *ngFor="let travel of Travels">

        <mat-list-item role="listitem" >
          <span style="font-weight: bold">First Name :</span>  {{travel.driver}}
        </mat-list-item>
        <mat-list-item role="listitem" >
          <span style="font-weight: bold">Last Name :</span> {{travel.passenger}}
        </mat-list-item>
        <mat-list-item role="listitem" >
          <span style="font-weight: bold">Age :</span> {{travel.vehicle}}
        </mat-list-item>
        <mat-list-item role="listitem" >
          <span style="font-weight: bold">Age :</span> {{travel.travelDistance}}
        </mat-list-item>

      </mat-list>
    </mat-card-content>
  </mat-card>

</div>
